flask
flask-cors
flask-compress
gunicorn
python-dotenv
requests
numpy
scipy
opencv-python-headless
Pillow
svgpathtools
torch
torchvision
transformers>=4.30.0,<5.0.0
huggingface_hub
safetensors
kornia
timm
svgwrite
tensorflow-cpu
tensorflow-probability
tf-keras